#cardContainer {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
}

#contactCard {
	margin: 40px 20px;
	background-color: #FFFFFF;
	height: 214px;
	width: 488px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding: 21px 40px;
}

.rButtons {
	position: static;
	display: inline-block;
	flex-direction: column;
	align-items: flex-end;
	margin: 30px 30px;
}

.indButton {
	padding: 10px;
}

.contactHeader {
	font-family: 'Rubik', verdana, arial, helvetica, sans-serif;
	color: #4DA761;
	font-weight: bold;
	font-size: 30pt;
	margin: 0px;
}

.contactInfo {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 18pt;
	padding: 5px;
}
