body {
	background-color: #EDEDF5;
}

#container {
	margin: 10% auto;
	text-align: center;
	background-color: #FFFFFF;
	height: 50%;
	width: 50%;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

#header {
	font-family: 'Rubik', verdana, arial, helvetica, sans-serif;
	color: #4DA761;
	font-weight: bold;
	font-size: 30pt;
	margin: 40px 0px;
}

#login {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	color: #757575;
	font-weight: 800px;
}

#login input {
	font-weight: bold;
	font-size: 14pt;
}

#loginButton {
	background-color: #4DA761;
	outline: none;
	color: #FFFFFF;
	width: 7em;
	height: 3em;
  	margin: 15px;
  	border-radius: 5px;
}

#login a {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-weight: 800px;
	margin: 10px;
	text-decoration: none;
}

#login a:hover {
	text-decoration: underline;
}

.large-text-box {
	border-color: transparent;
	outline: none;
	padding-left: 20px;
	border-radius: 5px;
	width: 20em;
	max-width: 70%;
	height: 3em;
	margin: 10px;
	background-color: #EDEDF5;
}

.large-text-box-2 {
	border-color: transparent;
	outline: none;
	padding-left: 20px;
	border-radius: 5px;
	width: 20em;
	max-width: 70%;
	height: 3em;
	margin: 0px 10px 10px 10px;
	background-color: #EDEDF5;
}

.large-error-box {
	padding-left: 20px;
	border-radius: 10px 10px 10px 10px;
	width: 20em;
	max-width: 70%;
	height: 3em;
	margin: 10px;
	background-color: #FF9993;
}