.contact-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
}

.contact-search {
	position: static;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}

.search-box {
	display: inline-block;
	border-color: transparent;
	outline: none;
	padding-left: 20px;
	border-radius: 5px;
	width: 45em;
	max-width: 70%;
	height: 3em;
	background-color: #FFFFFF;
	margin: 48px 30px 0px 30px;

	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	color: #757575;
	font-weight: bold;
	font-size: 14pt;
}
